@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.global-bg {
  background: hsla(215, 73%, 16%, 1);

  background: linear-gradient(180deg, hsla(215, 73%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(215, 73%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(215, 73%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0B2447", endColorstr="#000000", GradientType=1);
}

html {
  scroll-behavior: smooth;
}